<div id='left-menu'>
	<a href='#'><span>Home</span></a>
	<span class='menu-head'>Projects</span>
		<a id='viewprojects' onclick="getApp('viewprojects')" href='#'><span>View Projects</span></a>
		<a id="allocation" onclick="getApp('allocation')" href='#'><span>Allocation</span></a>
		<a id="proposals" onclick="getApp('proposals')" href='#'><span>Proposals</span></a>
	<span class='menu-head'>Students</span>
		<a id="viewstudents" onclick="getApp('viewstudents')" href='#'><span>View Students</span></a>
	<span class='menu-head'>Teams</span>
		<a id="viewteams" onclick="getApp('viewteams')" href='#'><span>View Teams</span></a>
</div>
<div id='content'>

</div>
