<div id='left-menu'>
	{{#compare session_data.staff_type '===' 'staff'}}
	<span class='menu-head'>Projects</span>
		<a id='viewprojects' onclick="getApp('viewprojects')" href='#'><span>View Projects</span></a>
		<!-- <a id="allocation" onclick="getApp('allocation')" href='#'><span>Allocation</span></a> DEPRECATED -->
		<a id="proposals" onclick="getApp('proposals')" href='#'><span>Proposals</span></a>
	<span class='menu-head'>Students</span>
		<a id="viewstudents" onclick="getApp('viewstudents')" href='#'><span>View Students</span></a>
	<script>var initialPage = 'viewprojects'</script>
	{{/compare}}
	<span class='menu-head'>Teams</span>
	{{#compare session_data.staff_type '===' 'student'}}
		{{#session_data.in_team}}
		<!-- If the student is in a team, display the team related pages. -->
			<a id="viewmyteam" onclick="getApp('viewmyteam')" href='#'><span>My Team</span></a>
			{{#compare session_data.team_approved '===' 1}}
				<a id="editteam" onclick="getApp('editteam')" href='#'><span>Edit Team</span></a>
			{{else}}
				<a id="editteam" onclick="getApp('editteam')" href='#'><span>Create Team</span></a>
				<a id="viewteams" onclick="getApp('viewteams')" href='#'><span>Join Team</span></a>
			{{/compare}}
			<script>var initialPage = 'viewmyteam'</script>
		{{else}}
			<!-- These links will be available to all students who are not in a team, or are awaiting approval. -->
			<a id="editteam" onclick="getApp('editteam')" href='#'><span>Create Team</span></a>
			<a id="viewteams" onclick="getApp('viewteams')" href='#'><span>Join Team</span></a>
			<script>var initialPage = 'jointeam'</script>
		{{/session_data.in_team}}
	{{else}}
		<a id="viewteams" onclick="getApp('viewteams')" href='#'><span>View Teams</span></a>
	{{/compare}}

	<span class='menu-head'>Account Management</span>
	{{#compare session_data.staff_type '===' 'staff'}}
	<a id="createstaff" onclick="getApp('createstaff')" href='#'><span>Create Accounts</span></a>
	{{/compare}}
	<a id="createstaff" onclick="getApp('createstaff')" href='#'><span>My Account Settings</span></a>
</div>
<div id='content'>

</div>
<script>
// Load the default page when the index page has loaded.
window.onload=getApp(initialPage);
</script>