<!DOCTYPE html>
<html>
	<head>
		<title>QUT Capstone</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="javascripts/alertify.js"></script>
		<link rel="stylesheet" href="stylesheets/alertify.core.css" />
		<link rel="stylesheet" href="stylesheets/alertify.default.css" />
	</head>
	<body>
		<div class="contact-section">

      {{#project}}
			<h2> {{company_name}} - {{project_name}} </h2>
      <body>
        {{description}}
      </body>
      {{/project}}

			<form id="updateDetails" action="/industrycontact" method="POST">
				<h2>Please confirm industry partner details.</h2>

				<label for="first_name">First Name: </label>
				<br>
				<input class="login-field" type="text" placeholder="Enter First Name" id="first_name" name="first_name" required>
				<br>
				<label for="last_name">Last Name: </label>
				<br>
				<input class="login-field" type="text" placeholder="Enter Last Name" id="last_name" name="last_name" required>
				<br>
				<label for="phone">Phone number: </label>
				<br>
				<input class="login-field" type="number" placeholder="Enter Phone Number" id="phone" name="phone" required>
				<br>
				<label for="email">Email: </label>
				<br>
				<input class="login-field" type="text" placeholder="Enter Email" id="email" name="email" required>
				<br>

				<button type="submit" class="login-button" id="submit">Confirm Details</button>
			</form>
		</div>





			{{#if submitFailure}}
				<script>
					alertify.error("Please fill in all fields.");
				</script>
			{{/if}}

	</body>
</html>
