<!DOCTYPE html>
<html>
	<head>
		<title>QUT IT Capstone Proposal Submitted</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="javascripts/alertify.js"></script>
		<link rel="stylesheet" href="stylesheets/alertify.core.css" />
		<link rel="stylesheet" href="stylesheets/alertify.default.css" />
		<link rel='stylesheet' href='/stylesheets/normalize.css' />
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	</head>
	<body>
		<div class="registration-section">
			<div class="email-editor-title">QUT IT Capstone Proposal Submitted</div>
			<div class="email-editor">
				<p class="info-paragraph">Thank you for submitting the proposal for your project.</p>
				<br>
			</div>
		</div>
	</body>
</html>
