<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/spinkit.css' />
	<script src="javascripts/dynamiccontent.js"></script>
  </head>
  <body>
	<header>
		<div id='top-menu-name'>
			<span>{{title}}</span>
			<span id='sub-name'>Academic Portal</span>
		</div>
	</header>

    {{{body}}}

  </body>
</html>
