<!DOCTYPE html>
<html>
	<head>
		<title>Login to Capstone System</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="javascripts/alertify.js"></script>
		<link rel="stylesheet" href="stylesheets/alertify.core.css" />
		<link rel="stylesheet" href="stylesheets/alertify.default.css" />
	</head>
	<body>
		<div class="login-section">
			<div id="login-selection">
			<h2>Login for</h2>
				<button class="login-button" id="student" onclick="accountTypeSelect('student')">Students</button>
				<button class="login-button" id="partner" onclick="accountTypeSelect('partner')">Industry Partners</button>
				<button class="login-button" id="staff" onclick="accountTypeSelect('staff')">Staff</button>
				<p id="register-note">Students can register <a href="/student_register">here</a></p>
			</div>
			<form id="login-form" method="POST">
				<h2 id="login-header">Login</h2>
				<input class="login-field" type="text" placeholder="Email" name="useremail" value="{{email}}" required>
				<input class="login-field" type="password" placeholder="Password" name="userpw" required>
				<input type="hidden" id="account_type" name="account_type" value="student">
				<input class="login-button" id="submit" type="submit" value="Login">
				<button type="button" class="login-button" onclick="selectBack()" id="back">Back</button>
			</form>
		</div>
		
		<!-- TODO: Move to separate JS file. -->
		<script>
			function accountTypeSelect(accountType) {
				document.getElementById('account_type').value = accountType;
				document.getElementById('login-form').style.top = '-200px';
				document.getElementById('login-selection').style.left = '-300px';
				var accountTypeCapitalized = accountType.charAt(0).toUpperCase() + accountType.substr(1);
				document.getElementById('login-header').innerText = accountTypeCapitalized + " Login";
			}
			
			function selectBack() {
				document.getElementById('login-form').style.top = '400px';
				document.getElementById('login-selection').style.left = '0px';
			}
		</script>
		
		{{#if loginFailure}}
			<script>
				alertify.error("You have entered an incorrect username or password, or have not created an account.");
				accountTypeSelect('{{accountType}}');
			</script>
		{{/if}}
	</body>
</html>