<div id="proposal-wrapper">
	<div id="proposal-content">
		<div class="proposal-element">
			<span><b>Title of the proposed project: </b></span><p style="font-size: 20px">Koogle - Matroid Security Enhancements</p>
		</div>
		<div class="proposal-element">
			<span><b>Discipline Area of the Project: </b></span><p>Security, Business Analysis</p>
		</div>
		<div class="proposal-element">
			<span><b>Your Organisation: </b></span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at tellus quis nisl vehicula aliquet. Nullam nec vehicula metus. Fusce bibendum volutpat arcu, et fermentum enim euismod a. Sed sit amet risus nec quam imperdiet elementum. Cras hendrerit fermentum leo a cursus. Integer commodo tortor sem, mattis sagittis odio ultrices sed. Suspendisse eros mi, placerat sed iaculis eu, iaculis vel est. Praesent at vestibulum metus, id eleifend metus.</p>

												   <p>Phasellus dapibus vitae tortor in tincidunt. Suspendisse dictum maximus lectus, vel tempus tellus venenatis a. Donec hendrerit ligula sem, a cursus tortor accumsan a. Duis mattis lacus ultricies, ultrices mauris at, facilisis metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean varius pretium aliquet. Fusce leo nibh, auctor accumsan suscipit sit amet, tempor vitae sapien. Maecenas vitae purus augue. Nulla eget nunc egestas nisi interdum egestas. Nunc malesuada dictum fringilla.</p>
		</div>
	</div>
</div>
<div id="prop-action-bar">
	<button class="prop-action-btn" id="acc-btn">Accept</button>
	<button class="prop-action-btn" onclick="proposaldeclineForm()" id="dec-btn">Decline</button>
</div>
<div id="prop-decline-bar">
	<form action='#'>
		<textarea name="decline-message" id="decline-message" placeholder="Provide an explanation for rejection of this proposal."></textarea>
		<button class="prop-action-btn" id="submit-btn">Submit</button>
		<button class="prop-action-btn" onclick="proposaldeclineForm()" id="cancel-btn">Cancel</button>
	</form>
</div>