{{#students}}
  <div class='project'>
    <span class='tag-icon assigned'>J</span>
    <h3>{{students.first_name}}</h3>
    <div class="project-details">
      {{#team}}
      <div class="detail-header">Joined Team:</div>
      <div class="detail-information">{{team_name}}</div>
      {{/team}}
    </div>
    <a class='right-link' href='#'>Contact student</a>
  </div>
{{/students}}
