{{#students}}
  <div class='project'>
    {{#team}}
    {{#compare team_name '!=' null}}
        <span class='tag-icon A'>J</span>
    {{/compare}}
    {{#compare team_name '==' null}}
        <span class='tag-icon NA'>NJ</span>
    {{/compare}}
    {{/team}}
    <h3>{{students.first_name}} {{students.last_name}}</h3>
    <div class="project-details">
      {{#team}}
      {{#compare team_name '!=' null}}
        <div class="detail-header">Joined Team:</div><div class="detail-information">{{team_name}}</div>
      {{/compare}}
      {{#compare team_name '==' null}}
        <div class="detail-header">This student is yet to join a team.</div>
      {{/compare}}
      {{/team}}
    </div>
    <a class='right-link' href='#'>Contact student</a>
  </div>
{{/students}}
