<h1>{{team.team_name}} (Pending Approval)</h1>

<!-- This is where the main 'app' on the page resides. Will make this update contents by AJAX, rather than reloading entire site. -->
<div id='app'>
	<p class="error-p">You can't view this right now.</p>
	<p class="error-p">Once the team has approved your request to join the team, you will be able to view this content.</p>
</div>