{{#teams}}
    <div class='project'>
        {{#compare team_ready '==' 1}}
            <span class='tag-icon A'>F</span>
        {{/compare}}
        {{#compare team_ready '==' 0}}
            <span class='tag-icon NA'>NF</span>
        {{/compare}}
        <h3>{{team_name}}</h3>
        <div class="project-details">
            <div class="detail-header">Team members:</div>
            <div class="detail-information">
                {{#students_in_teams}}
                    {{#if @first}}{{else}}, {{/if}}
                    {{#student}}
                        {{first_name}} {{last_name}}
                    {{/student}}
                {{/students_in_teams}}
                </div>
            <div class="acceptance-states">
                </div>
        </div>
        <a class='right-link' href='#'>Open Team</a>
    </div>
{{/teams}}