<h1 id="app-name">View Projects</h1>

<!-- This is where the main 'app' on the page resides. Will make this update contents by AJAX, rather than reloading entire site. -->
<div id='app'>
	<div id='project-information'></div>
	<div class="send-request-confirm" id="remove-team-confirm">
		<h2 id="remove-team-confirm-name"></h2>
		<p>Are you sure you want to remove the team from the project?</p>
		<button class="prop-action-btn-ctr" onclick="confirmCancel()" id="cancel-btn">No</button>
		<button class="prop-action-btn-ctr" onclick="removeTeamConfirm()" id="confirm-btn">Yes</button>
	</div>
	<div id="projects-section">
		<div class='projects-view' id='projects-view'>
		</div>
			<div id="search-bar">
				<input type="text" placeholder="Search projects.." id="sch-bar">
				<button class="prop-action-btn" onclick="searchProjects()" id="sch-btn">Search</button>
			</div>
		<div class='filters'>
			<form action="" id="milestone-form">
				<span class='menu-head'>Milestones</span>
				<input type="checkbox" name="milestone" onclick="searchProjectByMilestone('not-yet-assigned')" value="not_yet_assigned" checked><span class='filter-input'>Not Assigned</span><br>
				<input type="checkbox" name="milestone" onclick="searchProjectByMilestone('awaiting_approval')" value="awaiting_approval"><span class='filter-input'>Awaiting Approval</span><br>
				<input type="checkbox" name="milestone" onclick="searchProjectByMilestone('preliminary-assignment')" value="preliminary_assignment"><span class='filter-input'>Preliminary Assignment</span><br>
				<input type="checkbox" name="milestone" onclick="searchProjectByMilestone('assigned')" value="assigned"><span class='filter-input'>Allocated</span><br>
				<input type="checkbox" name="milestone" onclick="searchProjectByMilestone('declined')" value="declined"><span class='filter-input'>Declined Assignment</span><br>
			</form>
		</div>
	</div>
</div>
