<h1>View Teams</h1>

<!-- This is where the main 'app' on the page resides. Will make this update contents by AJAX, rather than reloading entire site. -->
<div id='app'>
	<div class='teams-view' id='teams-view'>
		</div>
	<div id="search-bar">
		<input type="text" placeholder="Search teams.." id="team-sch-bar">
		<button class="prop-action-btn" onclick="searchTeams()" id="sch-btn">Search</button>
		</div>
	<div class='filters'>
		<form>
			<span class='menu-head'>Milestones</span>
			<input type="checkbox" name="milestone" value="not-yet-assigned" checked><span class='filter-input'>Not Yet Assigned</span><br>
			<input type="checkbox" name="milestone" value="preliminary-assignment" checked><span class='filter-input'>Preliminary Assignment</span><br>
			<input type="checkbox" name="milestone" value="pending-contract" checked><span class='filter-input'>Pending Contract</span><br>
			<input type="checkbox" name="milestone" value="assigned" checked><span class='filter-input'>Assigned</span><br>
		</form>
	</div>
</div>
