<h1>View Teams</h1>

<!-- This is where the main 'app' on the page resides. Will make this update contents by AJAX, rather than reloading entire site. -->
<div id='app'>
	<div class='projects-view'>
		{{#teams}}
			<div class='project'>
				<span class='tag-icon pre-assign'>PA</span>
				<h3>{{team_name}}</h3>
				<div class="project-details">
					<div class="detail-header">Assigned to:</div><div class="detail-information">DEV Developers<br>
					{{#students_in_teams}}
						{{#if @first}}{{else}}, {{/if}}
						{{#student}}
							{{first_name}} {{last_name}}
						{{/student}}
					{{/students_in_teams}}</div>
					<div class="acceptance-states"><i class="fa fa-check-square accepted"></i> Team accepted&nbsp&nbsp&nbsp<i class="fa fa-square pending"></i> Industry acceptance pending</div>
				</div>
				<a class='right-link' href='#'>Open Project</a>
			</div>
		{{/teams}}

		</div>
		<div id="search-bar">
			<input type="text" placeholder="Search projects..">
		</div>
	<div class='filters'>
		<form>
			<span class='menu-head'>Milestones</span>
			<input type="checkbox" name="milestone" value="not-yet-assigned" checked><span class='filter-input'>Not Yet Assigned</span><br>
			<input type="checkbox" name="milestone" value="preliminary-assignment" checked><span class='filter-input'>Preliminary Assignment</span><br>
			<input type="checkbox" name="milestone" value="pending-contract" checked><span class='filter-input'>Pending Contract</span><br>
			<input type="checkbox" name="milestone" value="assigned" checked><span class='filter-input'>Assigned</span><br>
		</form>
	</div>
</div>
