<h1>My Team</h1>

<!-- This is where the main 'app' on the page resides. Will make this update contents by AJAX, rather than reloading entire site. -->
<div id='app'>
	<div class='students-view' id='students-view'>
	</div>
		<div id="options-bar">
			<!-- Want to have a bar for member requests (same format as view students!), and "My Team" info -->
			<button class="team-action-btn" onclick="" id="team-btn">Member Requests</button>
			<button class="team-action-btn" onclick="" id="team-btn">Team Information</button>

		</div>
	<div class='filters'>
		<!-- Not sure yet what we want in here if anything, but would look weird if page were full screen width?? -->
	</div>
</div>
