@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0;
	background: #dbdbdb;
}

h1 {
	color: #555555;
	font-weight: normal;
}

.no-shad {
	box-shadow: none !important;
	text-shadow: none !important;
}

#app {
	display: block;
	position: absolute;
	background: white;
	height: 95%;
	width: 97.5%;
	border-radius: 6px;
    border: 1px solid gray;
	box-shadow: 0px 0px 5px gray;
}

#content {
	position: absolute;
	left: 216px;
	padding: 25px;
	font: 14px Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: calc(97% - 270px);
	height: 87%;
	z-index: -1;
}

/* Left Menu */

#left-menu {
	position: fixed;
	width: 216px;
	top: 36px;
	height: calc(100% - 36px);
	background: #17568C;
	color: white;
	box-shadow: 0px 5px 5px grey;
	overflow: auto;
}

.menu-head {
	padding-top: 35px;
	padding-bottom: 5px;
	display:block;
	font: 14px Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 1.2px 1.2px 1px #343434;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #004377;
}

#left-menu a:link, #left-menu a:visited, #left-menu a:hover, #left-menu a:active {
	color: white;
	text-decoration: none;
	font: 20px Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 1.2px 1.2px 1px #343434;
	display:block;
	height: 30px;
	padding-left: 20px;
	padding-top: 10px;
	transition: background 0.2s;
}

#left-menu span {
	width: 100%;
}

#left-menu a:hover {
	background: #004880;
}

a {
  color: #00B7FF;
}

/* Top Menu */

header {
	background: #004377;
	position: fixed;
	width: 100%;
	height: 36px;
	padding: 0;
	color: white;
	font: 21.6px 'Open Sans', sans-serif;
	box-shadow: 0px 0px 5px gray;
}

.top-menu-search {
	float: right;
	border: 0;
    background: none;
    -webkit-appearance: none;
	color: white;
	cursor: pointer;
	padding: 4px;
	width: 36px;
	font-size: 24px;
}

.top-menu-search:hover {
	background: #555;
}

header span {
	padding-left: 20px;
}

#sub-name {
	position: absolute;
	left: 65px;
	top: 21px;
	font-size: 10px;
}

.logout-button:link, .logout-button:visited, .logout-button:hover, .logout-button:active {
	float: right;
	color: white;
	text-decoration: none;
	font-size: 18px;
	text-align: right;
	height: 30px;
	padding: 6px 10px 0px 10px;
	margin-right: 40px;
}

.logout-button:hover {
	background: #555;
}

#username:link, #username:visited, #username:hover, #username:active {
	background: #555;
	float: right;
	font-size: 18px;
	text-align: right;
	height: 30px;
	padding: 6px 10px 0px 10px;
	margin: 0px 2px 0px 80px;
	color: white;
	text-decoration: none;
}

/* View Projects */
.projects-view {
	float:left;
	width: calc(100% - 202px);
	overflow-y: auto; 
	height: 100%;
	display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
	display: flex;
	flex-direction: column; 
}

.accepted {
	font-size: 16px;
	color: #178c34;
}

.pending {
	font-size: 16px;
	color: #dbad24;
}

.declined {
	font-size: 16px;
	color: #c52020;
}

.project {
	float: bottom;
	border-bottom: 1px solid #004377;
	padding: 0 0 5px 5px;
}

.detail-information {
	float:left;
	padding-left: 15px;
}

.detail-header {
	float:left;
}

.acceptance-states {
	clear: left;
	padding-top: 15px;
}

.project:nth-child(even) {
	background: #fcfcfc;
}

.tag-icon {
	color: white;
	font-size: 20px;
	font-weight: bold;
	width: 30px;
	height: 30px;
	text-align: center;
	float: right;
	font-family: 'Open Sans', sans-serif;
}

.assigned {
	background: #178c34;
}

.pre-assign {
	background: #dbad24;
}

.no-assign {
	background: #c52020;
}

.right-link {
	text-align: right;
	float: right;
	clear: left;
	margin-top: -22px;
	padding: 5px;
}

.filters {
	float: right;
	width: 200px;
	height: 100%;
	background: #17568C;
	box-shadow: 0px 0px 3px gray;
	color:white;
}

.filter-input {
	text-shadow: 1.2px 1.2px 1px #343434;
}

/* Proposals Page */
.project-li, .project-li:link, .project-li:visited, .project-li:hover, .project-li:active {
	float: bottom;
	padding: 0 0 5px 5px;
	cursor: pointer;
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #004377;
}

.project-li:nth-child(even) {
	background: #fcfcfc;
}

.project-li:hover {
	color: white;
	background: #17568C;
}

.proposals-view {
	border-right: 1px solid #004377;
	float:left;
	width: 270px;
	overflow-y: auto; 
	height: 100%;
	display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
	display: flex;
	flex-direction: column; 
}

#proposal-view {
	float:right;
	height: 100%;
	width: calc(100% - 271px);
	box-shadow: 0px 0px 5px gray;
}

#proposal-content {
	height: 100%;
	width: 675px;
	box-shadow: 0px 0px 5px gray;
	margin: 50px 0 50px calc(50% - 337.5px);
	background: white;
	padding-top: 30px;
}

#proposal-wrapper {
	height: calc(100% - 36px);
	overflow-y: auto;
	background: #f9f9f9;
}

#prop-action-bar {
	width: 100%;
	height: 36px;
	background: #17568C;
}

#prop-decline-bar {
	width: 100%;
	height: 160px;
	background: #17568C;
	display: none;
}

.prop-action-btn {
	float: right;
	-webkit-appearance: none;
	color: white;
	border: 1px solid gray;
	height: 24px;
	width: 70px;
	margin: 6px 6px 0px 0px;
}

.prop-action-btn:hover {
	cursor: pointer;
}

#acc-btn {
	background: #3e6d40;
}

#dec-btn {
	background: #6d3d3d;
}

#decline-message {
	height: 142px;
	margin: 6px;
	width: calc(100% - 170px);
}

#proposal-helper {
	padding: 50px;
	font-size: 24px;
	color: gray;
}

.proposal-element {
	width: calc(100% - 30px);
	border-bottom: 1px solid gray;
	padding: 5px;
	margin: 10px;
}

.prop-information {
	float:left;
	padding-left: 15px;
}

.prop-header {
	float:left;
}


    /* Formatting search box */
    .search-box{
        width: 300px;
        position: relative;
        display: inline-block;
        font-size: 14px;
        float: right;
        margin-top: 8px;
        margin-right: 20px;
    }
    .search-box input[type="text"]{
    	color: white;
        height: 32px;
        padding: 5px 10px;
        border: 2px solid #5C499E;
        font-size: 14px;
        outline: none;
        background-color: #3c3069;
    }
    .result{
        position: absolute;        
        z-index: 999;
        top: 100%;
        left: 0;
        background-color: #5C499E;
    }
    .search-box input[type="text"], .result{
        width: 100%;
        box-sizing: border-box;
    }
    /* Formatting result items */
    .result a{
        display: block;
	    padding-top: 1em;
	    padding-bottom: 1em;
	    margin-left: 0;
	    margin-right: 0;
        padding: 7px 10px;
        border: 2px solid #3c3069;
        border-top: none;
        cursor: pointer;
        text-decoration: none;
        color: white;
    }
    .result a:hover{
        background: #3c3069;
    }
    
    .result p{
    	padding: 7px 10px;
    }