@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0;
	background: #dbdbdb;
}

h1 {
	color: #555555;
	font-weight: normal;
	font-family: sans-serif;
}

/* For text that is necessary, but doesn't need to stand out. */
.light-header {
	color: #636363;
}

select:invalid {
	color: gray;
}

.no-shad {
	box-shadow: none !important;
	text-shadow: none !important;
}

/* Login Menu */
.login-section {
	position: absolute;
	background: #004377;
	height: 400px;
	width: 300px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
	box-shadow: 0px 0px 100px gray;
	border: 1px solid gray;
	border-radius: 3px;
	overflow: hidden;
}

/* Registration Menu */
.registration-section {
	position: relative;
	color: black;
	font-family: sans-serif;
	font-size: 11pt;
	font-size: 11pt;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: white;
    max-width: 1000px;
	min-width: 500px;
	min-height: 1000px;
	box-shadow: 0px 0px 100px gray;
	border: 1px solid gray;
	border-radius: 3px;
	padding-bottom: 65px;
}

.registration-section p {
	font-size: 11pt;
}

.registration-section h3 {
	font-family: sans-serif;
	color: white;
	text-align: center;
	background: #004377;
	padding: 5px;
	margin: 0 0 10px 0;
	box-shadow: 0 0 10px gray;
}

.registration-freetext-area {
	min-width: 400px;
	resize: vertical;
	font-family: inherit;
    font-size: inherit;
	padding: 5px;
}

.form-dynamic-text {
	width: 400px;
	margin-bottom: 5px;
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.form-dynamic-entry-btn {
	width: 150px;
}

.info-paragraph {
	max-width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.skill-selector {
	float: left;
	width: 300px;
	min-height: 50px;
	border: 1px solid gray;
	margin: 10px;
	border-radius: 5px;
}

.skill-name {
	font-size: 11pt;
	float: left;
	text-align: left;
	display: inline-block;
	margin-top: 16px;
	max-width: 250px;
	margin-bottom: 16px;
	margin-left: 16px;
}

.skill-checkbox {
	display: inline-block;
	float: right;
	width: 40px;
	height: 40px;
	margin: 5px;
}

#profile-pic-preview {
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
}

.if-applicable-span {
	position: absolute;
	font-size: 12px;
	margin-top: 26px;
	margin-left: -70px;
}

.action-buttons {
	position: fixed;
	bottom: 0;
	background: #004377;
	width: 100%;
	max-width: 1000px;
}

#login-selection #register-note {
	color: white;
	font-family: sans-serif;
	font-size: 12px;
	text-align: center;
}

.login-section h2 {
	font-family: sans-serif;
	color: white;
	text-align: center;
}

#login-form, #login-selection {
	position: relative;
	left: 0px;
	width: 300px;
	transition: 0.5s;
}

#login-form {
	top: 400px;
}

.login-field {
	width: 280px;
	margin: 10px;
	height: 35px;
	font-size: 18px;
	border: none;
	border: 1px solid gray;
	background-color: white;
	border-radius: 3px;
}

.form-field {
	width: 280px;
	margin: 0px;
	height: 25px;
	font-size: 16px;
	border: none;
	border: 1px solid gray;
	background-color: white;
	border-radius: 3px;
	resize: vertical;
}

.login-button {
	-webkit-appearance: none;
	color: white;
	width: 280px;
	margin: 10px;
	height: 50px;
	font-size: 18px;
	border: 1px solid gray;
	border-radius: 3px;
	transition: 0.25s;
}

#submit.login-button {
	height: 35px;
	background: #3e6d40;
}

#back.login-button {
	height: 35px;
	background: #6d3d3d;
}

#student.login-button {
	background: #3e6d40;
}

#partner.login-button {
	background: #6e573f;
}

#staff.login-button {
	background: #573f6e;
}

.login-button:hover {
	cursor: pointer;
	transform: scale(1.03);
}


/* Industry Proposal Menu */
.proposal-section {
	color: white;
	font-family: sans-serif;
	font-size: 15px;
	text-align: left;
	padding-left: 15%;
	position: absolute;
	background: #004377;
	height: 80%;
	width: 60%;
    top: 10%;
    left: 15%;
	box-shadow: 0px 0px 100px gray;
	border: 1px solid gray;
	border-radius: 3px;
	overflow-y: auto;
}

/* Industry Partner Menu */
.contact-section {
	color: white;
	font-family: sans-serif;
	font-size: 15px;
	text-align: left;
	padding-left: 15%;
	background: #004377;
	position: inherit;

	/* position: absolute;

	height: 80%;
	width: 60%;
    top: 10%;
    left: 15%;
	box-shadow: 0px 0px 100px gray;
	border: 1px solid gray;
	border-radius: 3px;
	overflow-y: auto; */
}


#app {
	display: block;
	position: absolute;
	background: white;
	height: calc(100% - 60px);
	width: 100%;
    border: 1px solid gray;
	box-shadow: 0px 0px 5px gray;
	overflow: auto;
}

#content {
	position: absolute;
	left: 216px;
	padding: 25px;
	font: 14px Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: calc(97% - 270px);
	height: 87%;
	z-index: -1;
}

/* Left Menu */

#left-menu {
	position: fixed;
	width: 216px;
	top: 36px;
	height: calc(100% - 36px);
	background: #17568C;
	color: white;
	box-shadow: 0px 5px 5px grey;
	overflow: auto;
}

/* #viewmyteam:after{
    content:'1';
    position:absolute;
		left: 110px;
		background: red;
    border-radius:99px;
    border:1px solid red;
    height:15px;
    width:15px;
    text-align:center;
		font: 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
} */

.menu-head {
	padding-top: 35px;
	padding-bottom: 5px;
	display:block;
	font: 14px Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 1.2px 1.2px 1px #343434;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #004377;
}

#left-menu a:link, #left-menu a:visited, #left-menu a:hover, #left-menu a:active {
	color: white;
	text-decoration: none;
	font: 20px Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 1.2px 1.2px 1px #343434;
	display:block;
	height: 30px;
	padding-left: 20px;
	padding-top: 10px;
	transition: background 0.2s;
}

#left-menu span {
	width: 100%;
}

#left-menu a:hover {
	background: #004377;
}

a {
  color: #00B7FF;
}

/* Top Menu */

header {
	background: #004377;
	position: fixed;
	width: 100%;
	height: 36px;
	padding: 0;
	color: white;
	font: 21.6px 'Open Sans', sans-serif;
	box-shadow: 0px 0px 5px gray;
}

.top-menu-search {
	float: right;
	border: 0;
    background: none;
    -webkit-appearance: none;
	color: white;
	cursor: pointer;
	padding: 4px;
	width: 36px;
	font-size: 24px;
}

.top-menu-search:hover {
	background: #555;
}

header span {
	padding-left: 20px;
}

#sub-name {
	position: absolute;
	left: 65px;
	top: 21px;
	font-size: 10px;
}

.logout-button:link, .logout-button:visited, .logout-button:hover, .logout-button:active {
	float: right;
	color: white;
	text-decoration: none;
	font-size: 18px;
	text-align: right;
	height: 30px;
	padding: 6px 10px 0px 10px;
	margin-right: 40px;
}

.logout-button:hover {
	background: #555;
}

#username:link, #username:visited, #username:hover, #username:active {
	background: #555;
	float: right;
	font-size: 18px;
	text-align: right;
	height: 30px;
	padding: 6px 10px 0px 10px;
	margin: 0px 2px 0px 80px;
	color: white;
	text-decoration: none;
}
/* View Project */
#proposal {
	background: #f9f9f9;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.project-options {
	padding-top: 5px;
	padding-bottom: 5px !important;
}

.project-block-btn {
	height: 30px;
	cursor: pointer;
	background-color: white;
    color: #004377;
	border: solid #004377 1px;
	border-radius: 6px;
	transition: 0.4s;
}

.project-options .delete {
	float: right;
	margin-right: 30px;
	color: #770000;
	border: solid #770000 1px;
}

.project-options .edit {
	float: right;
	margin-right: 5px;
}

/* Invert button when hovered */
.project-block-btn:hover {
	color: #fff;
	background-color: #004377;
}

/* Invert button when hovered */
.project-options .delete:hover {
	color: #fff;
	background-color: #770000;
}

.people-blocks, .project-options {
	padding-left: 30px;
	padding-bottom: 30px;
	width: calc(100% - 30px);
	display: inline-block;
	border-bottom: 1px solid gray;
}

.people-blocks {
	box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.people-block {
	float: left;
	margin-top: 5px;
	margin-right: 20px;
	padding: 5px;
	border: 1px solid gray;
	border-radius: 6px;
	width: 300px;
	background-color: white;
}

.people-block-info {

}

.people-block-buttons {
	clear: both;
	display: block;
	float: right;
}

.people-block-btn-ext {
	display:inline;
}

.people-block-btn {
	width:30px;
	height: 30px;
	cursor: pointer;
	background-color: white;
    color: #004377;
	border: solid #004377 1px;
	border-radius: 6px;
	transition: 0.4s;
}

/* Tooltip text */
.people-block-btn-ext .tooltiptext {
	opacity: 0;
    visibility: hidden;
    width: 0px;
    background-color: white;
    color: #004377;
	border: solid #004377 1px;
	box-shadow: 0px 0px 10px #bcbcbc;
    text-align: center;
	height: 18px;
    padding: 5px 0;
    border-radius: 6px;
	transform: translate(-105%, 0px);
	transition: opacity 0.4s, width 0.2s;

    /* Position it to not take up space on the layout */
    position: absolute;
    z-index: 10;
}

/* Invert button when hovered */
.people-block-btn:hover {
	color: #fff;
	background-color: #004377;
}

/* Show text upon hover */
.people-block-btn-ext:hover .tooltiptext {
    visibility: visible;
	opacity: 1;
	width: 120px;
}

.people-block-title {
	font-weight: bold;
	font-size: 18px;
}

.people-block-top {
	padding: 5px;

}

.grp-icon {
	overflow: hidden;
	font-size: 800%;
	right: 0%;
	margin-left: 90%;
}

#grp-team {
	color: #b1c3e2;
}

#grp-industry {
	color: #e2bcb1;
	margin-left: 190px;
}

#team {
	background: #d9e6fc;
}

#industry-contact {
	background: #fce1d9;
}

/* View Allocation System */
.team-match {
	background: #d9e6fc;
	padding: 15px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-bottom: 10px;
}

.team-match:hover {
	cursor: pointer;
}

.team-match-info {
	display: none;
	margin-top: 15px;
	padding-top: 5px;
	border-top: 1px solid gray;
}

.alloc-team-btn {
	float: right;
	z-index: 2;
}

.skills-table, .skills-table td {
	border: 1px solid gray;
	border-collapse: collapse;
	background: white;
}

.skills-table td, .skills-table th {
	width: 300px;
}

/* View Projects */

#projects-section, #project-information {
	width: 100%;
	height: 100%;
}

#project-information {
	display: none;
	position: absolute;
}

.projects-view {
	float:left;
	width: calc(100% - 202px);
	padding-top: 29px;
	overflow-y: auto;
	height: calc(100% - 35px);
	display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
	display: flex;
	flex-direction: column;
}

.students-view {
	float:left;
	width: calc(100% - 202px);
	padding-top: 29px;
	overflow-y: auto;
	height: calc(100% - 35px);
	display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
	display: flex;
	flex-direction: column;
}

.teams-view {
	float:left;
	width: calc(100% - 202px);
	padding-top: 29px;
	overflow-y: auto;
	height: calc(100% - 35px);
	display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
	display: flex;
	flex-direction: column;
}


#search-bar {
	height: 28px;
	font-size: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(100% - 202px);
	background: linear-gradient(#d6d6d6, #eee);
	padding-left: 2px;
	border-bottom: 1px solid gray;
}

#options-bar {
	height: 40px;
	font-size: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(100% - 202px);
	background: linear-gradient(#d6d6d6, #eee);
	padding-left: 2px;
	border-bottom: 1px solid gray;
}

.team-action-btn:hover, .team-action-btn-ctr:hover {
	cursor: pointer;
}

.team-action-btn {
	float: right;
	-webkit-appearance: none;
	color: white;
	border: 1px solid gray;
	height: 24px;
	margin: 6px 6px 0px 0px;
	border-radius: 3px;
}

.team-action-btn-ctr {
	-webkit-appearance: none;
	color: white;
	border: 1px solid gray;
	height: 24px;
	width: 70px;
	margin: 6px 6px 0px 0px;
	border-radius: 3px;
}

#team-btn {
	background: #17568C;
	float: none;
	font-size: 18px;
	height: 30px;
}


#sch-btn {
	background: #17568C;
	float: none;
	height: 21px;
}

.Approved {
	font-size: 16px;
	color: #178c34;
}

.Pending {
	font-size: 16px;
	color: #dbad24;
}

.Declined {
	font-size: 16px;
	color: #c52020;
}

.project {
	float: bottom;
	border-bottom: 1px solid #004377;
	padding: 0 3px 5px 5px;
}

.detail-information {
	float:left;
	padding-left: 15px;
}

.detail-header {
	float:left;
	font-weight: bold;
}

.acceptance-states {
	clear: left;
	padding-top: 15px;
}

.project:nth-child(even) {
	background: #fcfcfc;
}

.tag-icon {
	color: white;
	font-size: 20px;
	font-weight: bold;
	width: 30px;
	height: 30px;
	text-align: center;
	float: right;
	font-family: 'Open Sans', sans-serif;
}

.A {
	background: #178c34;
}

.PA {
	background: #dbad24;
}

.NA {
	background: #c52020;
}

.DA {
	background: #c5209e;
}

.right-link {
	text-align: right;
	float: right;
	clear: left;
	margin-top: -22px;
	padding: 5px;
}

.filters {
	float: right;
	width: 200px;
	height: 100%;
	background: #17568C;
	box-shadow: 0px 0px 3px gray;
	color:white;
}

.filter-input {
	text-shadow: 1.2px 1.2px 1px #343434;
}

/* Proposals Page */
.project-li, .project-li:link, .project-li:visited, .project-li:hover, .project-li:active {
	float: bottom;
	padding: 0 0 5px 5px;
	cursor: pointer;
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #004377;
}

.project-li:nth-child(even) {
	background: #fcfcfc;
}

.project-li:hover {
	color: white;
	background: #17568C;
}

.proposals-view {
	border-right: 1px solid #004377;
	float:left;
	width: 270px;
	overflow-y: auto;
	height: 100%;
	display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
	display: flex;
	flex-direction: column;
}

#proposal-view {
	float:right;
	height: 100%;
	width: calc(100% - 271px);
	box-shadow: 0px 0px 5px gray;
}

#proposal-content {
	width: 675px;
	box-shadow: 0px 0px 5px gray;
	margin: 50px 50px 50px calc(50% - 337.5px);
	background: white;
	padding-top: 30px;
}

#proposal-wrapper {
	position: relative;
	height: calc(100% - 36px);
	overflow-y: auto;
	background: #f9f9f9;
}

#prop-action-bar {
	width: 100%;
	height: 36px;
	background: #17568C;
}

#prop-decline-bar {
	width: 100%;
	height: 160px;
	background: #17568C;
	display: none;
}

.proposal-header {
	text-align: center;
	color: gray;
}

#proposal-confirmation {
	display: none;
	text-align: center;
	position: absolute;
	color: white;
	height: 100%;
	width: 100%;
	z-index: 5;
	background-color: rgba(0, 30, 51, 0.7);
}

#proposal-confirmation-content {

}

#proposal-confirmation-content.h3 {
	font-weight: normal;
}

/* Proposal Buttons */
.prop-action-btn:hover, .prop-action-btn-ctr:hover {
	cursor: pointer;
}

.prop-action-btn {
	float: right;
	-webkit-appearance: none;
	color: white;
	border: 1px solid gray;
	height: 24px;
	width: 70px;
	margin: 6px 6px 0px 0px;
	border-radius: 3px;
}

.prop-action-btn-ctr {
	-webkit-appearance: none;
	color: white;
	border: 1px solid gray;
	height: 24px;
	width: 70px;
	margin: 6px 6px 0px 0px;
	border-radius: 3px;
}

#acc-btn {
	background: #3e6d40;
}

#accbtn {
	background: gray;
}

#dec-btn {
	background: #6d3d3d;
}

#submit-btn, #confirm-btn {
	background: #5C499E;
}

#cancel-btn, #back-btn {
	background: #6d3d3d;
}

#decline-message {
	height: 142px;
	margin: 6px;
	width: calc(100% - 170px);
}

#proposal-helper {
	padding: 50px;
	font-size: 24px;
	color: gray;
}

.proposal-element {
	width: calc(100% - 30px);
	border-bottom: 1px solid gray;
	padding: 5px;
	margin: 10px;
}

.prop-information {
	float:left;
	padding-left: 15px;
}

.prop-header {
	float:left;
}

/* Allocation Page */

#gen-btn {
	background: #17568C;
	float: none;
	height: 20px;
	width: 100px;
	margin-left: 15px;
}

.alloc {
	width: calc(100% - 2px) !important;
}

.allocation-config {
	position: absolute;
	background: white;
	width: 300px;
	z-index: 1;
	right: 205px;
	top: 33px;
	border-radius: 3px;
	border: 1px solid gray;
	padding: 5px;
	display: none;
	box-shadow: 0px 0px 10px #555555;
}

.alloc-setting {
	display: inline;
	padding-right: 5px;
	border-right: 1px solid gray;
}

.alloc-setting-txt {
	font-size: 14px;
}

#alloc-finalize {
	position: absolute;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	display: none;
	z-index: 3;
	background: white;
	padding: 10px;
}

#login-next {
	display: none;
}

.email-editor {
	box-shadow: inset 0px 0px 10px gray;
	padding: 15px;
}

.email-editor-title {
	color: white;
	font-size: 16px;
	padding: 8px;
	background: #004377;
	width: calc(100% - 16px);
}

.myteam_list {
	width: calc(100% - 2px);
	padding-top: 0px;
	height: calc(100% - 0px);
}

.myteam_head {

}

#teamReadyInfoContent {
	display: none;
}

.request_decline_btn {
	color: #6d3d3d;
	border-color: #6d3d3d;
}

.request_decline_btn:hover {
	background-color: #6d3d3d;
	color: white;
}

.error-p {
	font-size: 24px;
	text-align: center;
	color: #004377;
}

.pending-request-msg {
	position: absolute;
	background-color: #004377;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding: 8px;
	width: calc(100% - 216px);
}

.send-request-confirm {
	position: absolute;
	background-color: white;
	color: #004377;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 8px;
	width: calc(100% - 216px);
	display: none;
	height: calc(100% - 50px);
}

.cancelRequestBtn {
	text-align: center;
}

.profile-picture {
	max-width: 300px;
	max-height: 300px;
}